@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg: #252627;
        --primary-text: #fff;
        --secondary-text: #fefefe;
        --link-color: #b8bcc0;
    }
    img {
        opacity: 90%;
    }
}

a {
    position: relative;
    transition: color 0.3s ease;
}

a:hover, a:focus {
    color: var(--primary-text);
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))!important;
    gap: 3rem;
    padding: 20px;
}

@media (min-width: 641px) {
  .container {
    margin: 3rem auto;
    max-width: 1040px;
  }
}